.todo{
  display: flex;
  margin: 2em;
  align-items: center;
  justify-content: space-between;
}

.actions_buttons{
  display: flex;
}

.actions_buttons button{
  background-color: transparent;
  border: none;
  outline: none;
}

.actions_buttons img{
  height: 2em;
  width: auto;
}

.todo h1{
  margin: 0;
}
